@import './variables.less';

.battle-list-form-control {
  width: 100%;
}

.battle-list-item-label.MuiFormLabel-root {
  font-size: @text-small;
}

.battle-list-item-paper {
  margin-left: 0;
  margin-right: 0;
  margin-top: @padding-fourth;
  padding-left: @padding-normal;
  padding-right: @padding-normal;
}

.battle-list-item-radio-label .MuiFormControlLabel-label {
  font-size: @text-normal;
}

.battle-strategy-skill-select.MuiInput-root {
  height: @battle-strategy-skill-select-height;
  width: @battle-strategy-skill-select-width;
}

.battle-strategy-skill-select & .MuiSelect-select.MuiSelect-select {
  font-size: @text-normal;
  text-align: end;
}

.battle-strategy-skill-select & .MuiSelect-select:focus {
  background-color: transparent
}

.battle-list-item-table {
  margin-top: @padding-fourth;
}
